<form ng-submit="model.insertUser()">
    <div class="form-group">
        <label>
            <span class="sr-only">First name:</span>
        </label>
        <input class="form-control" type="text" ng-model="fname" name="fname" placeholder="First name">
        <label>
            <span class="sr-only">Last name:</span>
        </label>
        <input class="form-control" type="text" ng-model="lname" name="lname" placeholder="Last name">
        <label>
            <span class="sr-only">Username:</span>
        </label>
        <input class="form-control" type="text" ng-model="uname" name="uname" placeholder="Username">
        <label>
            <span class="sr-only">Email address:</span>
        </label>
        <input class="form-control" type="email" ng-model="email" name="email" placeholder="Email address"><br>
        <button type="submit" class="btn btn-default" ng-href="#/">Register</button>
        <div class="fb-login-btn-wrapper pull-right">
            <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="true"></div>
        </div>
    </div>
</form>
