<form ng-submit="model.insertUser()">
    <div class="form-group">
        <label>
            <span class="sr-only">First name:</span>
        </label>
        <input class="form-control" type="text" ng-model="fname" name="fname" placeholder="First name">
        <label>
            <span class="sr-only">Last name:</span>
        </label>
        <input class="form-control" type="text" ng-model="lname" name="lname" placeholder="Last name">
        <label>
            <span class="sr-only">Username:</span>
        </label>
        <input class="form-control" type="text" ng-model="uname" name="uname" placeholder="Username">
        <label>
            <span class="sr-only">Email address:</span>
        </label>
        <input class="form-control" type="email" ng-model="email" name="email" placeholder="Email address"><br>
        <button type="submit" class="btn btn-default" ng-href="#/">Register now</button>
        <button class="btn btn-fb pull-right">
            <span class="fa fa-facebook-official"></span> Log in with Facebook
        </button>
    </div>
</form>
